@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');


//RESET ------------------------------------------------------------------------
*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html,
body {
    width: 100%;
    height: 100%;
    color: #fff;
    font-family: 'Lato', sans-serif;
}
button {
  border: none;
  background-color: transparent;
}
button:hover {
  cursor: pointer;
}


//VARIABLES --------------------------------------------------------------------
$gray: #67717E;
$light-gray: #BDC1C6;
$dark-gray: #1e1e1e;
$blue: #264876;
$dark-blue: #2d5183;
$red: #DF0101;
$dark-red: #710000;


//STYLES -----------------------------------------------------------------------
#root {
    display: flex;
    justify-content: center;
    min-height: 100%;
    background-color: $dark-gray;
}

#game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    flex-grow: 1;
    max-width: 500px;
    padding: 10px 0px;
    overflow-y: scroll;
}

h1 {
    font-family: 'Bebas Neue', cursive;
    font-size: 2.5rem;
    letter-spacing: 1px;
}

#gameplay-text {
    font-size: 1.5rem;
    color: $light-gray;
}

h2 {
    font-family: 'Bebas Neue', cursive;
    font-size: 1.25rem;
    letter-spacing: 1px;
}
@media only screen and (min-width: 500px) and (min-height: 500px) {
    h1 {
        font-size: 3rem;
    }

    h2 {
        font-size: 1.5rem;
    }
}
@media only screen and (min-width: 1200px) and (min-height: 650px) {
    h1 {
        font-size: 5rem;
    }
}

#ship-orientation-toggle-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 220px;
    height: 40px;
    border-radius: 20px;
    background-color: #161616; 
    border: 2px solid #fff;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    font-size: 0.9rem;
    background-color: transparent;
    color: $light-gray;
    letter-spacing: 1px;
}

.selected {
    background-color: #fff;
    color: #000;
    font-size: 1.1rem;
    border-radius: 19px;
}

#gameboards-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 10px;
}

.gameboard-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#enemy-gameboard-container {
    display: none;
}

.gameboard {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    gap: 3px;
    flex-grow: 1;
    width: 90vw;
    max-width: 400px;
    height: 90vw;
    max-height: 400px;
    background-color: $blue;
    border-radius: 4%;
    box-shadow: 0px 0px 2px 2px $blue;
    border: 5px solid $dark-blue;
}

@media only screen and (min-width: 780px) {
    #game-container {
        max-width: 100vw;
    }

    #gameboards-container {
        flex-direction: row-reverse;
        gap: 5vw;
    }

    .gameboard {
        width: 35vw;
        max-width: 500px;
        height: 35vw;
        max-height: 500px;
    }
}
@media only screen and (min-width: 1200px) and (min-height: 850px) {
    #gameboards-container {
        padding-bottom: 40px;
    }
}
@media only screen and (max-height: 400px) {
    .gameboard {
        max-width: 300px;
        max-height: 300px;
    }
}

#enemy-waters {
    text-align: center;
}

#friendly-gameboard {
    position: relative;
}

#friendly-gameboard-cover {
    display: none;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: transparent;
}

.tile {
    background-color: #315383;
    border-radius: 50%;
}

.ship-preview {
    background-color: $light-gray; 
}

.has-ship {
    background-color: $gray; //$gray
    box-shadow: inset 0px 0px 15px rgba(0, 0, 0, 0.37);
}

#enemy-gameboard {
    cursor: crosshair;
    .tile {
        cursor: crosshair;
    }
}

.hit {
    background-color: $dark-red; 
    box-shadow: inset 0px 0px 15px rgb(0, 0, 0);
}
.miss {
    background-color: #315383 !important;
    border-radius: 50%;
    box-shadow: inset 0px 0px 15px rgba(1, 8, 31, 0.678) !important;
}

.friendly-gameboard-display-tile {
    .hit {
        background-color: $dark-red; 
        box-shadow: inset 0px 0px 15px rgb(0, 0, 0);
    }
    .miss {
        background-color: #315383 !important;
        border-radius: 50%;
        box-shadow: inset 0px 0px 15px rgba(1, 8, 31, 0.678) !important;
    }
}